<ul>
  <li>
    <p>Trulli</p>
    <img rawSrc="assets/pic_trulli.jpg" width="500" height="333" alt="Italian Trulli" priority="high"/>
  </li>
  <li>
    <p>Chania</p>
    <img rawSrc="assets/img_chania.jpg" width="460" height="345" alt="Chania" />
  </li>
  <li>
    <p>Venice</p>
    <img rawSrc="assets/Grand-Canal-Venice.webp" width="545" height="350" alt="Venice" loading="lazy"/>
  </li>
  <li>
    <p>Toronto</p>
    <img rawSrc="assets/toronto.jpg" width="545" height="350" alt="Toronto" loading="lazy"/>
  </li>
  <li>
    <p>London</p>
    <img rawSrc="assets/london.jpg" width="620" height="350" alt="London" loading="lazy"/>
  </li>
  <li>
    <p>California</p>
    <img rawSrc="assets/california.jpg" width="620" height="350" alt="California" loading="lazy"/>
  </li>
</ul>
